.previewItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.previewItem > .previewItem__name{
    font-weight: 500;
    margin-bottom: 18px;
    text-align: center;
}

.previewItem_description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 70px;
    width: 350px;
}

.previewItem_description > .previewItem__button{
    background-color: #4992d3;
    border: none;
    border-radius: 5px;
    outline: 0;
    padding: 8px 10px;
}

.previewItem__button:active{
    transform: scale(0.97);
}