.previewItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.previewItem_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    height: 70px;
}