/* .category__page{
    display: flex;
    flex-direction: column;
} */

.category__page > .hero{
    border: 1px solid;
    height: 500px;
    margin: 0 auto;
    width: 85%;
}

.hero > img{
    height: 100%;
    width: 100%;
}

.category__page > .title{
    margin: 2rem 0;
    text-align: center;
}

.category__page > .items{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem auto;
    padding: 2rem;
    width: 90%;
}