.cartDropdown{
    align-items: center;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 340px;
    overflow: auto;
    padding: 20px;
    position: absolute;
    right: 30px;
    top: 80px;
    z-index: 5;
    width: 240px;
}

.cartDropdown > .cartDropdown__items{
    display: flex;
    flex-direction: column;
    height: 240px;
}

.cartDropdown.hidden{
    display: none;
}

.cartDropdown > .cartDropdown_text{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.cartDropdown > .cartDropdown__checkout-button{
    background-color: green;
    margin-top: auto;
}