.custom-button{
    border: none;
    border-radius: 7px;
    padding: 7px 12px;
    text-transform: uppercase;
    margin: 0 auto;
    outline: 0;
    width: 50%;
}

.custom-button:active{
    transform: scale(0.95);
}