.homePageSection{
    height: 340px;
    width: 350px;
}

.homePageSection:hover{
    opacity: 0.7;
}

.homePageSection__pic{
    height: 95%;
    width: 100%;
}

.homePageSection__pic > .homePageSection__link > img{
    height: 100%;
    width: 100%;
}

.homePageSection__title{
    margin-top: 5px;
    text-align: center;
    width: 100%;
}