.homePageSection__pic{
    height: 300px;
    width: 300px;
}

.homePageSection__pic > img{
    height: 100%;
    width: 100%;
}

.homePageSection__title{
    margin-top: 5px;
    text-align: center;
}