.productPreview{
    margin-top: 50px;
    padding: 20px;
}

.productPreview > .productPreview__title{
    margin-left: 40px;
}

.preview{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 20px;
}