.productPreview{
    margin-top: 50px;
    padding: 20px;
}

.productPreview > .productPreview__title{
    font-weight: 500;
    margin-bottom: 35px;
    text-align: center;
}

.preview{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    margin-top: 20px;
}