.homePage{
    margin: 80px auto 0 auto;
    width: 80%;
}

.homePage > .homePage__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* 

.homePageSection__pic{
    height: 200px;
}

.homePageSection__pic > img{
    height: 100%;
}

.homePageSection__title{
    margin-top: 5px;
    text-align: center;
} */