.cartItem{
    display: flex;
    height: 80px;
    margin-bottom: 15px;
    width: 100%;

}

.cartItem > img{
    width: 30%;
}

.cartItem > .cartItem__details{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    width: 70%;
}